@use 'hero';
@use 'variaveis';
@use 'shows';
@use 'plans';
@use 'devices';
@use 'faq';
@use 'footer';
@use 'header';

@font-face {
    font-family: Avenir;
    src: url('../../assets/fonts/Avenir-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url('../../assets/fonts/Avenir-Bold.woff2');
    font-weight: 700;
}

@mixin textLine($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$main-text-color;
}

@mixin title($fontSize: 28px) {
    @include textLine($fontSize);
    color: variaveis.$sec-text-color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Avenir', sans-serif;
    list-style: none;
}

body {
    background: variaveis.$bg-color;

}

.link-text {
    @include textLine(18px);
    color: variaveis.$sec-text-color;
    text-decoration: underline;
}

.text--small {
    @include textLine(12px);
}

.text {
    @include textLine;
}

.text--big {
    @include textLine(18px);
}

.title--small {
    @include title;
}

.title {
    @include title(40)
}

.title--big {
    @include title(44px)
}

.button { 
    display: block;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$sec-text-color;
    background: variaveis.$button-color;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid variaveis.$button-color;

    
    &:hover {
        background: lighten(variaveis.$button-color, 3%);
    }

    &--secondary {
        background: variaveis.$header-button-color;
        border-color: variaveis.$header-button-color;

        &:hover {
            background: lighten(variaveis.$header-button-color, 3%);
        }
    }

    &--dark {
        background: rgba(variaveis.$dark-color, 0.8);
        border-color: variaveis.$sec-text-color;

        &:hover {
            background: variaveis.$sec-text-color;
            color: variaveis.$bg-color;
        }
    }
}

.image-text-section {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    img {
        max-width: 100%;
    }

    &__text-container {
        padding: 0 2vw;

        h2 {
            margin-bottom: 24px;
        }

    }

    &--image-full-width {
        display: block;
        position: relative;
        img {
            width: 100%;
        }

        &__text-container {
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: calc(50% - 5.6vw);
            display: flex;
            flex-direction: column;
            justify-content: center;
            
        }
    }
}